* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: "Hanken Grotesk", sans-serif;
  font-optical-sizing: auto;
}

h1 {
  font-size: 18px;
  font-weight: 400;
  color: hsl(241, 100%, 89%);
}

button:hover{
  background-image: linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%));
}
