* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: "Hanken Grotesk", sans-serif;
  font-optical-sizing: auto;
}

h1 {
  font-size: 18px;
  font-weight: 400;
  color: hsl(241, 100%, 89%);
}
